/*https://c0.wp.com/c/6.0.9/wp-includes/css/dist/block-library/style.min.css*/

@media (min-width:600px){
.wp-block-gallery.has-nested-images.columns-3 figure.wp-block-image:not(#individual-image){
width:calc(33.33333% - var(--wp--style--unstable-gallery-gap, 16px)*0.66667)}

.wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image){
width:calc(25% - var(--wp--style--unstable-gallery-gap, 16px)*0.75)}

.wp-block-gallery.has-nested-images.columns-5 figure.wp-block-image:not(#individual-image){
width:calc(20% - var(--wp--style--unstable-gallery-gap, 16px)*0.8)}

.wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image){
width:calc(16.66667% - var(--wp--style--unstable-gallery-gap, 16px)*0.83333)}

.wp-block-gallery.has-nested-images.columns-7 figure.wp-block-image:not(#individual-image){
width:calc(14.28571% - var(--wp--style--unstable-gallery-gap, 16px)*0.85714)}

.wp-block-gallery.has-nested-images.columns-8 figure.wp-block-image:not(#individual-image){
width:calc(12.5% - var(--wp--style--unstable-gallery-gap, 16px)*0.875)}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image){
width:calc(33.33% - var(--wp--style--unstable-gallery-gap, 16px)*0.66667)}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2)~figure.wp-block-image:not(#individual-image){
width:calc(50% - var(--wp--style--unstable-gallery-gap, 16px)*0.5)}

.wp-block-gallery.has-nested-images.columns-default figure.wp-block-image:not(#individual-image):first-child:last-child{
width:100%}
}

